body{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #f5f5f5;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #000;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #000;
    color: #fff;
  }

/* Custom button styles */
a.button {
    padding: 12px 24px;
    border: 2px solid #333; /* Solid border */
    background-color: #fff; /* Default white background */
    color: #333; /* Dark text */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  a.button:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
  
  
.ExpletusSans {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Cinzel{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

