.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.event-buttons {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    min-width: 120px;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:400;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.event-buttons:hover {
    color: #d9dfdc;
    background-color: #333;
    border-radius: 6px;
}